@import "_global.scss";
.message-wrp{
	display: block;
	position: relative;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 0px 4px 3px -2px #222;
	background-color: $lightgrey;
	margin-bottom: 25px;
}