@import "_global.scss";

div[appview]{
	position: relative;
	height: 100%;
	-webkit-box-flex: 1 1 100%;      
	-moz-box-flex: 1 1 100%;         
	-webkit-flex: 1 1 100%;          
	-ms-flex: 1 1 100%;              
	flex: 1 1 100%;
	overflow-y: overlay;

	&#chatview{
		padding: 0px;
	}
}