<div class="lz-header {{cssClass}}">
	<div class="fleft lz-header-btn-left {{firstButtonClass}}"></div>
	<div class="fleft lz-header-title">{{title}}</div>
	<div class="fright lz-header-btn-right {{lastButtonClass}}"></div>
	<div class="fclear"></div>
</div>