<div class="mdls-modal">
	<div class="header">
		<div class="displaytable">
			<div class="displaytablecell title">{{title}}</div>
			<div class="displaytablecell btnclose">X</div>
		</div>
	</div>
	<div class="content">
		{{{content}}}
	</div>
	<div class="footer"></div>
</div>